body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.margin {
    margin: 100px;
}

.table {
    width: 100%;
    text-align: left;
}

.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu {
    background-color: #253A46;
    padding: 20px;
    font-size: 20px;
}

#menu a {
    color: white;
    padding-right: 25px;
    text-decoration: none;
}

.center {
    text-align: center;
}

.post{
    border-top: 1px solid black;
}

.fatal{
    color: red;
}